// Place all the styles related to the cadd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
	font-weight: 100;
	font-size: 60px;
}

body{
	background-color: teal;
	color: gainsboro;
	font-weight: 200;
}

table{
	margin_top: 25px;
}

tr{
	background-color: lightsalmon;
	color: lightslategray;
}


td{
	color: gray;
}


td a{
	color: gray;
}

a{
	margin_top: 20px;
	color: gainsboro;
}

label{
	font-weight: 400;
}

form{
	margin: 30px;
}

form input {
	
}